:root{
    --hover: #009e66;
    --opacity: #4978BC;
    --text: #dadada;
    --title: #F04E4C;
}

@media(min-width:1101px) and (max-width:1200.98px) {

    #testimonial .testi_slider .testi_slider_item .testi_desp .testi_desp_body::after {
        bottom: 125px;
    }
}
@media(min-width:992px) and (max-width:1100.98px) {
    #main_menu {
        position: fixed;
        left: -.5%;
        top: 0;
        transform: translateY(0);
        z-index: 9999;
    }
    #main_menu .menu_part ul li a i {
        width: 45px;
        height: 42px;
        line-height: 38px;
        font-size: 20px;
      }
    #main_menu .menu_part ul li {
        margin: 3px 0;
    }
    .resume_body_left_fix {
        height: 380px;
    }
    #about_me .about_me_translate {
        transform: translateY(-205px);
    }
    #profile {
        transform: translateY(-75px);
    }
    #about_me {
        transform: translateY(-35px);
        padding: 0 0 0 25px;
    }
    #about_me .my_info .single-info span {
        font-size: 13px;
    }
    #about_me .my_info .single-info p {
        font-size: 13px;
    }
    #testimonial .testi_slider .testi_slider_item .testi_desp .testi_desp_body::after {
        bottom: 125px;
    }
}


@media(min-width:768px) and (max-width:991.98px){
    /* ####################### Common CSS Start ####################### */
    .price_modal .price_dialog .price-modal-content {
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background: #212428;
        width: 500px;
    }
    .common_head {
        padding-bottom: 20px;
    }
    .common_head span {
        font-size: 12px;
    }
    .common_head h2 {
        font-size: 25px;
    }
    #mobile_nav {
        display: none;
    }
    .body_wrrapped .body_left {
        width: 10%;
        box-shadow: 10px 10px 19px #1c1e22;
    }
    .body_wrrapped .body_right {
        width: 90%;
    }
    /* ####################### Common CSS End ####################### */

    /* ####################### Mobile Navigation Start ####################### */
    #main_menu {
        position: fixed;
        left: -.5%;
        top: 0;
        transform: translateY(0);
        z-index: 9999;
    }
    #main_menu .menu_part ul li a i {
        width: 38px;
        height: 36px;
        line-height: 33px;
        font-size: 16px;
    }
    #main_menu .menu_part ul li {
        margin: 5px 0;
    }
    /* ####################### Mobile Navigation End ####################### */

    /* ####################### Banner Start ####################### */
    #banner .banner_content a{
        width: 100%;
        text-align: left;
    }
    #banner .banner_content .main_title {
        padding: 30px 20px 70px 20px;
    }
    #banner .banner_content .main_title h1 {
        font-size: 28px;
    }
    #banner .banner_man {
        display: block;
    }
    /* ####################### Banner End ####################### */

    /* ####################### Profile Start ####################### */
    #profile {
        transform: translateY(-30px);
        padding-left: 0;
    }
    #about_me {
        transform: translateY(0);
        padding-top: 0;
        position: relative;
    }
    #about_me .about_me_translate {
        text-align: center;
        padding-top: 40px;
        transform: translateY(0);
    }
    #about_me .my_info {
        padding: 0 20px;
        position: absolute;
        top: -230px;
        right: 0;
        width: 510px;
    }
    #about_me .my_info::after {
        position: absolute;
        content: "";
        top: -10px;
        left: 0;
        background: rgba(238, 238, 238, 0.3);
        width: 80%;
        height: 2px;
        transform: translateX(0);
    }
    /* ####################### Profile End ####################### */

    /* ####################### Service Start ####################### */
    #service {
        margin-top: 40px;
    }
    /* ####################### Servie End ####################### */

    /* ####################### Resume Part Start ####################### */
    #resume .dextop_row{
        display: none;
    }
    #resume .mobile_row{
        display: block;
    }
    #resume .mobile_row .mobile_resume_content .resume_item .resume_skills .my_skilss ul {
        margin-left: 40px;
    }
    #resume .mobile_row .mobile_resume_content .resume_item .resume_education .resume_education_contents ul {
        margin-left: 40px;
    }
    #resume .mobile_row .mobile_resume_content .resume_item .resume_expereince .resume_expereince_contents ul {
        margin-left: 40px;
    }
    #resume .mobile_row .mobile_resume_content .resume_item .resume_education .resume_education_contents ul li::after {
        left: -20px;
    }
    #resume .mobile_row .mobile_resume_content .resume_item .resume_education .resume_education_contents ul::after {
        left: -25px;
    }
    #resume .mobile_row .mobile_resume_content .resume_item .resume_education .resume_education_contents ul li .resume_education_desp::after {
        left: -33px;
    }
    #resume .mobile_row .mobile_resume_content .resume_item .resume_expereince .resume_expereince_contents ul li::after {
        left: -20px;
    }
    #resume .mobile_row .mobile_resume_content .resume_item .resume_expereince .resume_expereince_contents ul::after {
        left: -25px;
    }
    #resume .mobile_row .mobile_resume_content .resume_item .resume_expereince .resume_expereince_contents ul li .resume_experience_desp::after {
        left: -33px;
    }
    #resume .mobile_row .mobile_resume_content .resume_item .resume_skills .my_skilss ul li::after {
        left: -20px;
    }
    #resume .mobile_row .mobile_resume_content .resume_item .resume_skills .my_skilss ul::after {
        left: -25px;
    }
    #resume .mobile_row .mobile_resume_content .resume_item .resume_skills .my_skilss ul li .skills::after {
        left: -33px;
    }
    #resume .mobile_row .mobile_resume_content .resume_nav ul {
        justify-content: center;
    }
    #resume .mobile_row .mobile_resume_content .resume_nav ul li button {
        padding: 15px 20px;
        font-size: 14px;
    }
    #resume .mobile_row .mobile_resume_content .resume_item .resume_header h2 {
        font-size: 25px;
    }
    /* ####################### Resume Part End ####################### */

    /* ####################### Portfolio Part Start ####################### */
    #portfolio .portfolio_modal_button .port_item {
        height: 360px;
    }
    #portfolio .portfolio_modal_button .port_item .port_content h4 {
        font-size: 18px;
      }
    .port_modal .port_dialog .port-modal-content {
        width: 515px;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
    }
    .port_modal .port_dialog .port-modal-content .modal-body .port_cont ul li a i {
        margin-right: 8px;
    }
    .port_modal .port_dialog .port-modal-content .modal-body .port_cont ul li a {
        padding: 12px 15px;
        font-size: 12px;
    }
    .port_modal .port_dialog .port-modal-content .modal-header h5 {
        font-size: 14px;
        font-weight: 500;
    }
    #pricing .pricing_nav ul li button {
        font-size: 16px;
    }
    #pricing .pricing_content .pricing_item {
        transform: translateY(50px);
        margin-bottom: 100px;
    }
    /* ####################### Portfolio Part End ####################### */

    /* ####################### Testimonial Part Start ####################### */
    #testimonial .testi_slider .testi_slider_item .testi_desp {
        padding-left: 0;
    }
    #testimonial .testi_slider .testi_slider_item .testi_desp .testi_desp_body{
        margin-top: 40px;
    }
    #testimonial .testi_slider .testi_slider_item .testi_desp .testi_desp_body::after {
        bottom: inherit;
        left: 50%;
        transform: translateX(-50%) rotate(90deg);
        top: -25px;
    }
    #testimonial .testi_slider .testi_slider_item .testi_desp .testi_desp_top{
        display: none;
    }
    #testimonial .testi_slider .prev_post, #testimonial .testi_slider .next_post {
        bottom: -60px;
        top: inherit;
    }
    #testimonial .testi_slider .prev_post {
        right: 115px;
    }
    /* ####################### Testimonial Part End ####################### */

    /* ####################### Blog Part Start ####################### */
    .blog_modal .blog_dialog .blog-modal-content {
        top: 20px;
        width: 515px;
    }
    .blog_modal .blog_dialog .blog-modal-content .modal-body .blog_modal_img img {
        height: 290px;
    }
    .blog_modal .blog_dialog .blog-modal-content .modal-body .blog_modal_img {
        height: 300px;
    }
    /* ####################### Blog Part End ####################### */

    /* ####################### Contact Part Start ####################### */
    #contact .copyRight p {
        font-size: 10px;
    }
    #contact .messege_me h2 {
        font-size: 20px;
        margin: 15px 0;
    }
    /* ####################### Contact Part End ####################### */
}

@media(min-width:576px) and (max-width:767.98px){
    /* ####################### Common CSS Start ####################### */
    .price_modal .price_dialog .price-modal-content {
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background: #212428;
        width: 400px;
    }
    .common_head span {
        font-size: 12px;
    }
    .common_head h2 {
        font-size: 25px;
    }
    #mobile_nav {
        display: block;
        width: 100%;
        position: fixed;
        top: 50%;
        left: 5px;
        transform: translateY(-50%);
        z-index: 9999999;
    }
    .body_wrrapped .body_left {
        width: 0;
        box-shadow: 10px 10px 19px #1c1e22;
    }
    .body_wrrapped .body_right {
        width: 100%;
    }
    .body_wrrapped .body_right {
        width: 100%;
    }
    /* ####################### Common CSS End ####################### */
    /* ####################### Mobile Navigation Start ####################### */
    #mobile_nav button {
        background: linear-gradient(to right bottom, #212428, #16181c);
        box-shadow: 10px 10px 19px #1c1e22;
        border: none;
        opacity: 50%;
        transition: all linear .3s;
    }
    #mobile_nav button:hover {
        opacity: 100%;
    }
    #mobile_nav button:focus {
        box-shadow: none;
    }
    #mobile_nav .nav_offcanvas{
        transform: translateY(-265px);
        width: 300px !important;
        height: 1000px;
        background: linear-gradient(to right bottom, #212428, #16181c);
        box-shadow: 10px 10px 19px #1c1e22;
    }
    #mobile_nav .nav_offcanvas .mobile_menu_header button{
        background: none;
    }
    #mobile_nav .nav_offcanvas .mobile_menu_header button:focus{
        box-shadow: none;
    }
    #mobile_nav .nav_offcanvas .mobile_menu_body{
        text-align: left;
        padding-left: 50px;
    }
    #mobile_nav .nav_offcanvas .mobile_menu_body ul li{
        margin: 5px 0;
    }
    #mobile_nav .nav_offcanvas .mobile_menu_body ul li a{
        display: inline-block;
        font-size: 16px;
        font-weight: 500;
        color: #fff;
        position: relative;
    }
    #mobile_nav .nav_offcanvas .mobile_menu_body ul li a i{
        padding-right: 10px;
    }
    #mobile_nav .nav_offcanvas .mobile_menu_body ul li a::before {
        position: absolute;
        content: "";
        right: 0;
        bottom: 8px;
        width: 100%;
        height: 3px;
        background: var(--hover);
        transform-origin: right center;
        transform: scale(0, 1);
        transition: transform 0.4s ease;
    }
    #mobile_nav .nav_offcanvas .mobile_menu_body ul li a:hover {
        color: var(--hover);
    }
    #mobile_nav .nav_offcanvas .mobile_menu_body ul li a:hover::before {
        transform-origin: left center;
        transform: scale(1, 1);
    }
    /* ####################### Mobile Navigation End ####################### */

    /* ####################### Banner Start ####################### */
    #banner .banner_content a{
        width: 100%;
        text-align: center;
    }
    #banner .banner_content .main_title {
        padding: 30px 20px 70px 20px;
    }
    #banner .banner_content .main_title h1 {
        font-size: 28px;
    }
    #banner .banner_man {
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        width: 305px;
    }
    /* ####################### Banner End ####################### */

    /* ####################### Profile Start ####################### */
    #profile {
        transform: translateY(-30px);
        padding-left: 0;
    }
    #profile .profile_col{
        margin: 0 auto !important;
    }
    #about_me {
        transform: translateY(0);
        padding-top: 40px;
    }
    #about_me .about_me_translate {
        text-align: center;
        padding-top: 40px;
        transform: translateY(0);
    }
    #about_me .my_info{
        padding: 0 20px;
    }
    #about_me .my_info::after {
        position: absolute;
        content: "";
        top: -10px;
        left: 50%;
        background: rgba(238, 238, 238, 0.3);
        width: 80%;
        height: 2px;
        transform: translateX(-50%);
    }
    /* ####################### Profile End ####################### */

    /* ####################### Service Start ####################### */
    #service {
        margin-top: 40px;
    }
    /* ####################### Servie End ####################### */

    /* ####################### Resume Part Start ####################### */
    #resume .dextop_row{
        display: none;
    }
    #resume .mobile_row{
        display: block;
    }
    #resume .mobile_row .mobile_resume_content .resume_item .resume_skills .my_skilss ul {
        margin-left: 40px;
    }
    #resume .mobile_row .mobile_resume_content .resume_item .resume_education .resume_education_contents ul {
        margin-left: 40px;
    }
    #resume .mobile_row .mobile_resume_content .resume_item .resume_expereince .resume_expereince_contents ul {
        margin-left: 40px;
    }
    #resume .mobile_row .mobile_resume_content .resume_item .resume_education .resume_education_contents ul li::after {
        left: -20px;
    }
    #resume .mobile_row .mobile_resume_content .resume_item .resume_education .resume_education_contents ul::after {
        left: -25px;
    }
    #resume .mobile_row .mobile_resume_content .resume_item .resume_education .resume_education_contents ul li .resume_education_desp::after {
        left: -33px;
    }
    #resume .mobile_row .mobile_resume_content .resume_item .resume_expereince .resume_expereince_contents ul li::after {
        left: -20px;
    }
    #resume .mobile_row .mobile_resume_content .resume_item .resume_expereince .resume_expereince_contents ul::after {
        left: -25px;
    }
    #resume .mobile_row .mobile_resume_content .resume_item .resume_expereince .resume_expereince_contents ul li .resume_experience_desp::after {
        left: -33px;
    }
    #resume .mobile_row .mobile_resume_content .resume_item .resume_skills .my_skilss ul li::after {
        left: -20px;
    }
    #resume .mobile_row .mobile_resume_content .resume_item .resume_skills .my_skilss ul::after {
        left: -25px;
    }
    #resume .mobile_row .mobile_resume_content .resume_item .resume_skills .my_skilss ul li .skills::after {
        left: -33px;
    }
    #resume .mobile_row .mobile_resume_content .resume_nav ul {
        justify-content: center;
    }
    #resume .mobile_row .mobile_resume_content .resume_nav ul li button {
        padding: 15px 20px;
        font-size: 14px;
    }
    #resume .mobile_row .mobile_resume_content .resume_item .resume_header h2 {
        font-size: 25px;
    }
    /* ####################### Resume Part End ####################### */

    /* ####################### Portfolio Part Start ####################### */
    #portfolio .portfolio_modal_button .port_item {
        height: 300px;
    }
    #portfolio .portfolio_modal_button .port_item .port_content h4 {
        font-size: 18px;
      }
    .port_modal .port_dialog .port-modal-content {
        width: 515px;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
    }
    .port_modal .port_dialog .port-modal-content .modal-body .port_cont ul li a i {
        margin-right: 8px;
    }
    .port_modal .port_dialog .port-modal-content .modal-body .port_cont ul li a {
        padding: 12px 15px;
        font-size: 12px;
    }
    .port_modal .port_dialog .port-modal-content .modal-header h5 {
        font-size: 14px;
        font-weight: 500;
    }
    #pricing .pricing_nav ul li button {
        font-size: 16px;
    }
    #pricing .pricing_content .pricing_item {
        transform: translateY(50px);
        margin-bottom: 100px;
    }
    /* ####################### Portfolio Part End ####################### */

    /* ####################### Testimonial Part Start ####################### */
    #testimonial .testi_slider .testi_slider_item .testi_desp {
        padding-left: 0;
    }
    #testimonial .testi_slider .testi_slider_item .testi_desp .testi_desp_body{
        margin-top: 40px;
    }
    #testimonial .testi_slider .testi_slider_item .testi_desp .testi_desp_body::after {
        bottom: inherit;
        left: 50%;
        transform: translateX(-50%) rotate(90deg);
        top: -25px;
    }
    #testimonial .testi_slider .testi_slider_item .testi_desp .testi_desp_top{
        display: none;
    }
    #testimonial .testi_slider .prev_post, #testimonial .testi_slider .next_post {
        bottom: -60px;
        top: inherit;
    }
    #testimonial .testi_slider .prev_post {
        right: 115px;
    }
    /* ####################### Testimonial Part End ####################### */

    /* ####################### Blog Part Start ####################### */
    .blog_modal .blog_dialog .blog-modal-content {
        top: 20px;
        width: 515px;
    }
    .blog_modal .blog_dialog .blog-modal-content .modal-body .blog_modal_img img {
        height: 290px;
    }
    .blog_modal .blog_dialog .blog-modal-content .modal-body .blog_modal_img {
        height: 300px;
    }
    /* ####################### Blog Part End ####################### */

    /* ####################### Contact Part Start ####################### */
    #contact .copyRight p {
        font-size: 10px;
    }
    #contact .messege_me h2 {
        font-size: 20px;
        margin: 15px 0;
    }
    /* ####################### Contact Part End ####################### */
}

@media(max-width:575.98px){
    /* ####################### Common CSS Start ####################### */
    .price_modal .price_dialog .price-modal-content {
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background: #212428;
        width: 300px;
    }
    #portfolio .portfolio_modal_button .port_item {
        height: 100%;
    }
    .common_head span {
        font-size: 12px;
    }
    .common_head h2 {
        font-size: 25px;
    }
    #mobile_nav {
        display: block;
        width: 100%;
        position: fixed;
        top: 50%;
        left: 5px;
        transform: translateY(-50%);
        z-index: 9999999;
    }
    .body_wrrapped .body_left {
        width: 0;
        box-shadow: 10px 10px 19px #1c1e22;
    }
    .body_wrrapped .body_right {
        width: 100%;
    }
    .body_wrrapped .body_right {
        width: 100%;
    }
    /* ####################### Common CSS End ####################### */
    /* ####################### Mobile Navigation Start ####################### */
    #mobile_nav button {
        background: linear-gradient(to right bottom, #212428, #16181c);
        box-shadow: 10px 10px 19px #1c1e22;
        border: none;
        opacity: 50%;
        transition: all linear .3s;
    }
    #mobile_nav button:hover {
        opacity: 100%;
    }
    #mobile_nav button:focus {
        box-shadow: none;
    }
    #mobile_nav .nav_offcanvas{
        transform: translateY(-265px);
        width: 300px !important;
        height: 1000px;
        background: linear-gradient(to right bottom, #212428, #16181c);
        box-shadow: 10px 10px 19px #1c1e22;
    }
    #mobile_nav .nav_offcanvas .mobile_menu_header button{
        background: none;
    }
    #mobile_nav .nav_offcanvas .mobile_menu_header button:focus{
        box-shadow: none;
    }
    #mobile_nav .nav_offcanvas .mobile_menu_body{
        text-align: left;
        padding-left: 50px;
    }
    #mobile_nav .nav_offcanvas .mobile_menu_body ul li{
        margin: 5px 0;
    }
    #mobile_nav .nav_offcanvas .mobile_menu_body ul li a{
        display: inline-block;
        font-size: 16px;
        font-weight: 500;
        color: #fff;
        position: relative;
    }
    #mobile_nav .nav_offcanvas .mobile_menu_body ul li a i{
        padding-right: 10px;
    }
    #mobile_nav .nav_offcanvas .mobile_menu_body ul li a::before {
        position: absolute;
        content: "";
        right: 0;
        bottom: 8px;
        width: 100%;
        height: 3px;
        background: var(--hover);
        transform-origin: right center;
        transform: scale(0, 1);
        transition: transform 0.4s ease;
    }
    #mobile_nav .nav_offcanvas .mobile_menu_body ul li a:hover {
        color: var(--hover);
    }
    #mobile_nav .nav_offcanvas .mobile_menu_body ul li a:hover::before {
        transform-origin: left center;
        transform: scale(1, 1);
    }
    /* ####################### Mobile Navigation End ####################### */

    /* ####################### Banner Start ####################### */
    #banner .banner_content a{
        width: 100%;
        text-align: center;
    }
    #banner .banner_content .main_title {
        padding: 30px 20px 70px 20px;
    }
    #banner .banner_content .main_title h1 {
        font-size: 22px;
    }
    #banner .banner_man {
        display: none;
    }
    #banner .banner_content .main_title h6 {
        font-size: 14px;
    }
    /* ####################### Banner End ####################### */

    /* ####################### Profile Start ####################### */
    #profile {
        transform: translateY(-30px);
        padding-left: 0;
    }
    #profile .profile_col{
        margin: 0 auto !important;
    }
    #about_me {
        transform: translateY(0);
        padding-top: 40px;
    }
    #about_me .about_me_translate {
        text-align: center;
        padding-top: 40px;
        transform: translateY(0);
    }
    #about_me .my_info{
        padding: 0 20px;
    }
    #about_me .my_info::after {
        position: absolute;
        content: "";
        top: -10px;
        left: 50%;
        background: rgba(238, 238, 238, 0.3);
        width: 80%;
        height: 2px;
        transform: translateX(-50%);
    }
    /* ####################### Profile End ####################### */

    /* ####################### Service Start ####################### */
    #service {
        margin-top: 40px;
    }
    /* ####################### Servie End ####################### */

    /* ####################### Resume Part Start ####################### */
    #resume .dextop_row{
        display: none;
    }
    #resume .mobile_row{
        display: block;
    }
    #resume .mobile_row .mobile_resume_content .resume_item .resume_skills .my_skilss ul {
        margin-left: 40px;
    }
    #resume .mobile_row .mobile_resume_content .resume_item .resume_education .resume_education_contents ul {
        margin-left: 40px;
    }
    #resume .mobile_row .mobile_resume_content .resume_item .resume_expereince .resume_expereince_contents ul {
        margin-left: 40px;
    }
    #resume .mobile_row .mobile_resume_content .resume_item .resume_education .resume_education_contents ul li::after {
        left: -20px;
    }
    #resume .mobile_row .mobile_resume_content .resume_item .resume_education .resume_education_contents ul::after {
        left: -25px;
    }
    #resume .mobile_row .mobile_resume_content .resume_item .resume_education .resume_education_contents ul li .resume_education_desp::after {
        left: -33px;
    }
    #resume .mobile_row .mobile_resume_content .resume_item .resume_expereince .resume_expereince_contents ul li::after {
        left: -20px;
    }
    #resume .mobile_row .mobile_resume_content .resume_item .resume_expereince .resume_expereince_contents ul::after {
        left: -25px;
    }
    #resume .mobile_row .mobile_resume_content .resume_item .resume_expereince .resume_expereince_contents ul li .resume_experience_desp::after {
        left: -33px;
    }
    #resume .mobile_row .mobile_resume_content .resume_item .resume_skills .my_skilss ul li::after {
        left: -20px;
    }
    #resume .mobile_row .mobile_resume_content .resume_item .resume_skills .my_skilss ul::after {
        left: -25px;
    }
    #resume .mobile_row .mobile_resume_content .resume_item .resume_skills .my_skilss ul li .skills::after {
        left: -33px;
    }
    #resume .mobile_row .mobile_resume_content .resume_nav ul {
        justify-content: center;
    }
    #resume .mobile_row .mobile_resume_content .resume_nav ul li button {
        padding: 15px 20px;
        font-size: 14px;
    }
    #resume .mobile_row .mobile_resume_content .resume_item .resume_header h2 {
        font-size: 25px;
    }
    /* ####################### Resume Part End ####################### */

    /* ####################### Portfolio Part Start ####################### */
    .port_modal .port_dialog .port-modal-content {
        width: 285px;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
    }
    .port_modal .port_dialog .port-modal-content .modal-body .port_cont ul li a i {
        margin-right: 8px;
    }
    .port_modal .port_dialog .port-modal-content .modal-body .port_cont ul li a {
        padding: 12px 15px;
        font-size: 12px;
    }
    .port_modal .port_dialog .port-modal-content .modal-header h5 {
        font-size: 14px;
        font-weight: 500;
    }
    #pricing .pricing_nav ul li button {
        font-size: 16px;
    }
    #pricing .pricing_content .pricing_item {
        transform: translateY(50px);
        margin-bottom: 100px;
    }
    /* ####################### Portfolio Part End ####################### */

    /* ####################### Testimonial Part Start ####################### */
    #testimonial .testi_slider .testi_slider_item .testi_desp {
        padding-left: 0;
    }
    #testimonial .testi_slider .testi_slider_item .testi_desp .testi_desp_body{
        margin-top: 40px;
    }
    #testimonial .testi_slider .testi_slider_item .testi_desp .testi_desp_body::after {
        bottom: inherit;
        left: 50%;
        transform: translateX(-50%) rotate(90deg);
        top: -25px;
    }
    #testimonial .testi_slider .testi_slider_item .testi_desp .testi_desp_top{
        display: none;
    }
    #testimonial .testi_slider .prev_post, #testimonial .testi_slider .next_post {
        bottom: -60px;
        top: inherit;
    }
    #testimonial .testi_slider .prev_post {
        right: 200px;
    }
    /* ####################### Testimonial Part End ####################### */

    /* ####################### Blog Part Start ####################### */
    .blog_modal .blog_dialog .blog-modal-content {
        top: 20px;
        width: 290px;
    }
    .blog_modal .blog_dialog .blog-modal-content .modal-body .blog_modal_img img {
        height: 190px;
    }
    .blog_modal .blog_dialog .blog-modal-content .modal-body .blog_modal_img {
        height: 200px;
    }
    /* ####################### Blog Part End ####################### */

    /* ####################### Contact Part Start ####################### */
    #contact .copyRight p {
        font-size: 10px;
    }
    #contact .messege_me h2 {
        font-size: 20px;
        margin: 15px 0;
    }
    /* ####################### Contact Part End ####################### */
}
